
@media (max-width: 1000px) {
}

@media (max-width: 768px) {
    .main{
        height: 40%;
        width: 25%;
    
    }
}
  
@media (max-width: 425px) {
    .main{
        height: 50%;
        width: 70%;
    
    }
}
  